<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MemCachier Rack::Cache Example</title>

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="padding-top:10px;">
          <a href="/" class="brand">Rack::Cache example</a>
          <a href="https://www.memcachier.com" class="brand" id="memcachier">
            <img class="brand" src="<%= image_path 'memcachier-medium.png' %>" alt="MemCachier"
            title="MemCachier" style="margin:-7px 10px 0px 0px;padding:0;" width="35px"/>
            <div style="display:inline-block;">by</div>
            <div style="display:inline-block;"><strong>MemCachier</strong></div>
          </a>
        </div>
      </div>
    </div>

    <div class="container" id="getting-started">
      <div class="row">
        <div class="span8 offset2">
          <div class="page-header"></div>
          <% [:notice, :error, :alert].each do |level| %>
            <% unless flash[level].blank? %>
              <div data-alert="alert" class="alert alert-<%= flash_class(level) %> fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <%= content_tag :p, flash[level] %>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :js %>
  </body>
</html>

